// Place all the styles related to the Fotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {background-color: #ffe8ec}

#menuSeries {margin-left: 20px}

.menuGeneral {margin-left: 10px}

#content {    
padding-left: 250px;
margin-top: -50px;
}

#contentBioContacto {
	margin-top: 80px;
	margin-left: 10px;
	width: 200px;

}

#titulo {
	margin-bottom:5px;
}

#barra {
  background: black;
  height: 1px;
  width: 350px;
  margin: auto;
  margin-bottom: 10px;
  margin-left: 0px;
}

.rowFoto {
  padding: 100px;
}

.foto {
	display: inline-block;
	width: 200px;

	img {
	width:100%;
	}
}

.foto-container {
	display: inline-block;
}

.muestra {
	width: 400px;
}

.muestra {
	display: inline-block;
}

.foto-muestra {
	display: inline-block;

	img{
	width: 125px;
	}
}

.texto-muestra {
	margin-top: 20px;
	width: 225px;
}

.titulo-muestra {
	font-weight: 550;
	font-style: italic;
}

.menuGeneral, .titulo {
	font-family: Baskervville;
}

.container-contacto {
	font-family: Dancing Script;
	border-top: solid;
	border-left: solid;
	border-color: black;
	border-width:0.5px;
	padding: 10px;
}

a.lightbox img {
width: 200px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.2);
margin: 15px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 75%;
max-width: 75%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}
