// Place all the styles related to the Fotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a, a:hover { color: inherit;
text-decoration:none; 
     cursor:pointer;   } 

.row-ultima {
	padding-left: 245px;
}

body {background-color: #ffe8ec}

#menuSeries {margin-left: 15px}

.menuGeneral {margin-left: 25px;
cursor: pointer;}

#content {    
padding-left: 250px;
margin-top: -50px;
}

#contentBioContacto {
	margin-top: 80px;
	margin-left: 50px;
	width: 250px;
}

.menu-item {
	width: 100px;
}

.foto-preview img {
width: 200px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.2);
margin: 15px 20px 20px 20px;
}

.container-menu {
	margin-left: 20px;
	position: fixed;
}

.container-fotos-vistas {
	width: 800px;
	margin-top: 90px;
	margin-left: 120px;
	position: absolute;
}

.container-fotos-tesis {
	width: 800px;
	margin-top: 90px;
	margin-left: 120px;
	position: absolute;
}

#titulo {
	margin-bottom:5px;
	padding-left: 20px;
}

#barra {
  background: black;
  height: 0.5px;
  width: 350px;
  margin: auto;
  margin-bottom: 10px;
  margin-left: 0px;
}


.foto {
	display: inline-block;
	width: 200px;

	img {
	width:100%;
	}
}

.foto-container {
	display: inline-block;
}

.muestra {
	width: 400px;
}

.muestra {
	display: inline-block;
}

.foto-muestra {
	display: inline-block;

	img{
	width: 125px;
	}
}

.texto-muestra {
	margin-top: 20px;
	width: 225px;
}

.titulo-muestra {
	font-weight: 550;
	font-style: italic;
}

.menuGeneral {
	font-family: Fenix;
	font-size: medium;
}

.titulo {
	font-family: Fenix;
	font-size: large;
}

.container-contacto {
	font-family: Fenix;
	font-size: medium;
	border-top: solid;
	border-left: solid;
	border-width: 80%;
	border-color: black;
	border-width:0.5px;
	padding: 10px;
	position: absolute;
	margin-top: 150px;
}


#foto-inicio img {
    max-width: 40%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ultima-row-serie-tesis {
	padding-left: 120px;
}

.container-bio {
	width: 300px;
	margin: 90px;
	font-family: Fenix;
	position: absolute;
}

#bio-texto {
	font-family: Fenix;
	font-size: medium;
	font-style: italic;
}

.br {
	display: block;
	margin: 10px 0;
}