<div class="titulo"><strong>VICTORIA WEINMANN</strong> fotografia</a></div>

<div class="menuGeneral">
	<div class="menu-item series-item" id="series">series</a></div>
		<div id="menuSeries" style="display:none; margin-left:20px">
			<div class="menu-item series-item" id="serieUno">serie A</div>
		    <div class="menu-item series-item" id="serieDos">serie B</div>
		</div>
	<div class="menu-item" id="muestras">muestras</a></div>
	<div class="menu-item" id="bio">bio</a></div>
	<div class="menu-item" id="contacto">contacto</a></div>
</div>

<div id="content">
</div>

<div id="contentBioContacto">
</div>


<script language="javascript" type="text/javascript">
	$("#series").click(function()
	{	if ($("#series").hasClass('activo')){
			$("#content").html("");
    		$(".series-item").css('font-weight', '400');
    		$(".series-item").css('font-style', 'normal');
    		$(".series-item").removeClass("activo");
    		$("#menuSeries").css("display", "none");
	}
		else {
    		$("#content, #contentBioContacto").html("");
			$(".menu-item").removeClass("activo");
    		$(".menu-item").css('font-weight', '400');
    		$(".menu-item").css('font-style', 'normal');

    		$("#series").addClass("activo");
    		$("#menuSeries").css("display", "block");
    		$("#series").css('font-weight', '550');
    		$("#series").css('font-style', 'italic');
		}
	});

    $("#serieUno").click(function() {
    	if ($("#serieUno").hasClass('activo')) {
    		$("#content").html("");
    		$("#serieUno").css('font-weight', '400');
    		$("#serieUno").css('font-style', 'normal');
    		$("#serieUno").removeClass("activo");
    	}
    	else {
    		$("#content, #contentBioContacto").html("");
    		$(".menu-item").removeClass("activo");
    		$(".menu-item").css('font-weight', '400');
    		$(".menu-item").css('font-style', 'normal');

    		$("#serieUno").addClass("activo");
    		$("#serieUno").css('font-weight', '550');
    		$("#serieUno").css('font-style', 'italic');

    		$("#series").addClass("activo");
    		$("#series").css('font-weight', '550');
    		$("#series").css('font-style', 'italic');

    		$.ajax({
              type: 'GET',
              url: '/fotos/serieUno',
              data: {numero_serie: '1'}
    	  });	
    	}
          
    });

   
    $("#serieDos").click(function() {
    	if ($("#serieDos").hasClass('activo')) {
    		$("#content").html("");
    		$("#serieDos").css('font-weight', '400');
    		$("#serieDos").css('font-style', 'normal');
    		$("#serieDos").removeClass("activo");
    	}
    	else {
    		$("#content, #contentBioContacto").html("");
    		$(".menu-item").removeClass("activo");
    		$(".menu-item").css('font-weight', '400');
    		$(".menu-item").css('font-style', 'normal');

    		$("#serieDos").addClass("activo");
    		$("#serieDos").css('font-weight', '550');
    		$("#serieDos").css('font-style', 'italic');

    		$("#series").addClass("activo");
    		$("#series").css('font-weight', '550');
    		$("#series").css('font-style', 'italic');

    		$.ajax({
              type: 'GET',
              url: '/fotos/serieDos',
              data: {numero_serie: '2'}
    	  });	
    	}
          
    });

    $("#muestras").click(function() {
    	if ($("#muestras").hasClass("activo")) {
    		$("#content").html("");
    		$("#muestras").css('font-weight', '400');
    		$("#muestras").css('font-style', 'normal');
    		$("#muestras").removeClass("activo");
    	}
    	else {
    		$("#content, #contentBioContacto").html("");
    		$(".menu-item").removeClass("activo");
    		$(".menu-item").css('font-weight', '400');
    		$(".menu-item").css('font-style', 'normal');
    		$("#menuSeries").css("display", "none");

    		$("#muestras").addClass("activo");
    		$("#muestras").css('font-weight', '550');
    		$("#muestras").css('font-style', 'italic');

    		$.ajax({
            type: 'GET',
            url: '/fotos/muestras'
    	  });
    	}
    });

    $("#contacto").click(function() {
    	if ($("#contacto").hasClass("activo")) {
    		$("#contentBioContacto").html("");
    		$("#contacto").css('font-weight', '400');
    		$("#contacto").css('font-style', 'normal');
    		$("#contacto").removeClass("activo");
    	}
    	else {
    		$("#content").html("");
    		$(".menu-item").removeClass("activo");
    		$(".menu-item").css('font-weight', '400');
    		$(".menu-item").css('font-style', 'normal');
    		$("#menuSeries").css("display", "none");

    		$("#contacto").addClass("activo");
    		$("#contacto").css('font-weight', '550');
    		$("#contacto").css('font-style', 'italic');

    		$.ajax({
            type: 'GET',
            url: '/fotos/contacto'
    	  });
    	}
    });



</script>

