<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-bio">

	<div class="titulo"></b>
	</div>
	<div id="barra">
	</div>
	<div id="bio-texto">
		<p>
	<div>victoria es un grito </div>
	<div>un canto             </div>
	<div>una mirada pampeana  </div>
	<div>pero urbana          </div>
	<div>pero pampeana        </div>
	<div>sobre el mundo       </div>
	<div>victoria es un canto </div>
	<div>es un grito          </div>
	<div>una forma de ver     </div>
	<div>una forma de gritar  </div>
	<div>la palabra           </div>
	<div>la frase que culmina </div>
	<div>y que halla          </div>
	<div>el camino            </div>
	<div>victoria es siempre  </div>
	<div>o casi siempre       </div>
	<div>victoria             </div>
		</p>
	</div>
	
</div>
