<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div align="left" class="container-contacto">
	<div>
		<b>mail:</b>
		 victoriaweimann@gmail.com
	</div>
	
	<div>
		<b>ig:</b> 
		<a href="https://www.instagram.com/victoriaweimann/">
			@victoriaweinmann
		</a>
	</div>
</div>