

<div class="container-muestras">
	<div id="titulo"> muestras
	</div>
	<div id="barra">
	</div>
	<div class="container-muestras">
		<div class="muestra">			
			<div class="foto">
				<a href="https://fotoweinmann.s3-sa-east-1.amazonaws.com/muestras/R1-13.JPG" data-lightbox="inicio">
					<%= image_tag("https://fotoweinmann.s3-sa-east-1.amazonaws.com/muestras/R1-13.JPG") %>
				</a>
			</div>
			<div class="titulo-muestra">
				El silencio es un cuerpo que cae
			</div>
			<div class="texto-muestra">
				En el año 2007 se presentaron, en el marco de la exposicion anual del centro cultural de Olavarria, una muestra que reunia una serie de trabajos...
			</div>
		</div>
		<div class="muestra">
			<div class="foto-muestra">
				<%= image_tag("https://fotoweinmann.s3-sa-east-1.amazonaws.com/muestras/R1-13.JPG") %>
			</div>
			<div class="titulo-muestra">
				Los amores que nunca habran existido
			</div>
			<div class="texto-muestra">
				En el año 2007 se presentaron, en el marco de la exposicion anual del centro cultural de Olavarria, una muestra que reunia una serie de trabajos...
			</div>
		</div>
	</div>
</div>