<div align="left" class="container-contacto">
	<div>
		<b>mail:</b>
		 <i>victoriaweimann@gmail.com</i>
	</div>
	
	<div>
		<b>ig:</b> 
		<a href="https://www.instagram.com/victoriaweimann/">
			<i>@victoriaweinmann</i>
		</a>
	</div>
</div>