<div class="container">
	<div class="row">
		<% @fotos[0..3].each do |foto| %>
			<div class="col-sm-3">
					<%= image_tag(foto.url, style: "width:10%;height:10%") %>
			</div>
		<%end%>
	</div>
	<div class="row">
		<% @fotos[4..7].each do |foto| %>
			<div class="col-sm-3">
					<%= image_tag(foto.url, style: "width:10%;height:10%") %>
			</div>
		<%end%>
	</div>
</div>